{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="text-center" style="color: #d9083c;">User Home Page</h1>
        <h2>Available Documents</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents %}
                    <tr>
                        <td>{{ document.title }}</td>
                        <td><a href="{{ document.file.url }}" class="btn btn-primary" download>Download</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
